.hidden {
	visibility: hidden;
  }

body { 
  font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 0px;
  padding: 0;
}

#holder { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #333; }

section, header, footer {
  display: block;
}

canvas {
  z-index: -20;
  position: relative;
  padding: 0;
  margin: auto;
  display: block;
  width: 820;
}

#menu-overlay {
	width: 410px;
	height: 285px;
	position: absolute;
	background-color: rgba(150, 150, 150, 0.3);
	left:471px;
	top:130px;
	border-radius: 20px;
}

#scoreBoard {
	position: absolute;
	left:970px;
	top:160px;
	border-radius: 20px;
	margin-top: -120px; 
	margin-bottom: 100px; 
	text-align: right; 
	color: white;
}

#menuButton {
	position: absolute;
	left:280px;
	top:160px;
	border-radius: 20px;
	margin-top: -120px; 
	margin-bottom: 100px; 
	text-align: right; 
	color: white;
}



#menu-buttons {
	left:471px;
	top:250px;
	border-radius: 20px;
}

#menu-buttons a {
	margin: 20px;
}

#menu-buttons-play {
	/* display: flex;
	flex-direction: row; */
	left:471px;
	top:250px;
	border-radius: 20px;
}

#menu-buttons-play a {
	margin: 20px;
}

.butHeader{
		border-bottom:1px solid #dcdcdc;
		display:inline-block;
		color:#ffffff;
		font-size:15px;
		font-weight:bold;
		margin-top: 6px;
		padding:3px 6px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#555555;
	font-size:30px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border:2px solid #bdbdbd;
}
.myButton:active {
	position:relative;
	top:1px;
}



header,
article > *,
footer > * {
  margin: 20px;
}

footer > * {
  margin: 20px;
  color: #999;
}

#status {
  padding: 5px;
  color: #fff;
  background: #ccc;
}

#status.fail {
  background: #c00;
}

#status.success {
  background: #0c0;
}

 body {
   font-family: 'Roboto Slab', sans-serif;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 min-height: 100vh;
}
 ul {
	 list-style: none;
	 display: flex;
	 justify-content: center;
	margin-left: -10px;
}
 ul .key {
	margin-top: -25px;
	 margin-left: 17px;
	 margin-right: 17px;
	 position: relative;
	 width: 70px;
	 height: 180px;
	 border: 1px solid black;
	 background: #fffff0;
	 border-radius: 5px;
	 box-shadow: 0px 3px 5px #666;
	 cursor: pointer;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 padding-bottom: 10px;
	 font-weight: bold;
}
ul .key:nth-child(1) {
	margin-left: 30px;
}
ul .key:nth-child(5) {
	margin-right: 15px;
}
ul .key:nth-child(6) {
	margin-right: 20px;
}

ul .key:nth-child(7) {
	margin-right: 36px;
}

 ul .active {
	 box-shadow: 0px 1px 3px #666;
	 border: 3px solid rgb(255, 255, 255);
	 width: 65px;
	 height: 175px;
}
 
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
	font-family: 'Roboto Slab', sans-serif;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
	white-space: nowrap;
}

kbd .active {
	width: 40px;
	height: 40px;
	border: 0px solid #adb3b9;
}

.key:nth-child(1) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #0F9D58 inset;
}
.key:nth-child(2) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #DB4437 inset;
}
.key:nth-child(3) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #F4B400 inset;
}
.key:nth-child(5) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #4285F4 inset;
}
.key:nth-child(6) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px rgb(255, 136, 0) inset;
}
.key:nth-child(7) kbd{
	box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px rgb(187, 0, 244) inset;
}



.lines {
	z-index: -10;
  position: absolute;
  top: -143px;
  left: 0;
  right: 0;
  height: 570px;
  margin: auto;
  width: 90vw;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 28.5%;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;

}
.lines .line:nth-child(1) {
  margin-left: -29.55%;
}
.lines .line:nth-child(1)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #3a7c2ee7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.lines .line:nth-child(2) {
  margin-left: -21.1%;
}
.lines .line:nth-child(2)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #eb5050e7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.lines .line:nth-child(3) {
	margin-left: -12.6%;
  }
.lines .line:nth-child(3)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #dde754e7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 6.0s;
		animation-delay: 6.0s;
}
.lines .line:nth-child(4) {
margin-left: -4.3%;
}
.lines .line:nth-child(4)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #ffffffe7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 6.5s;
		animation-delay: 6.5s;
}
.lines .line:nth-child(5) {
margin-left: 4.3%;
}
.lines .line:nth-child(5)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #4a7edfe7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 7.0s;
animation-delay: 7.0s;
}  
.lines .line:nth-child(6) {
margin-left: 12.6%;
}
.lines .line:nth-child(6)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #e99d46e7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 7.5s;
animation-delay: 7.5s;
}  
.lines .line:nth-child(7) {
margin-left: 21.1%;
}
.lines .line:nth-child(7)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #cd45dfe7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 8.0s;
animation-delay: 8.0s;
}  
.lines .line:nth-child(8) {
margin-left: 29.55%;
}
.lines .line:nth-child(8)::after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #a0a0a0 50%, #af60dde7 100%);
	-webkit-animation: run 2.0s 0s infinite;
			animation: run 1.5s 0s infinite;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
-webkit-animation-delay: 8.5s;
animation-delay: 8.5s;
				}    

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
